<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>68</integer>
	<key>Time Stamp</key>
	<real>1758583158.4768281</real>
	<key>UUID</key>
	<string>29AF247B-D2C6-4BF0-AA66-C476E24FF36B</string>
</dict>
</plist>
